<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hue_based_lip_contour.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2CF749FA1C015211009C6A26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CF74A131C015211009C6A26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CF74A1E1C015211009C6A26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
